# Visualisations of Economic Data Using the Fred API. 
This jupyter notebook will be used to access and clean the data from the Fred API. The data will then be written to csv files.

In [2]:
import pandas as pd  
import numpy as np
from fredapi import Fred

In [3]:
api_key = "63540401ae375aa2551679507c10d4c9"

In [4]:
# Create the Fred object 
fred = Fred(api_key=api_key)

## Pull Residential Property Prices for Ireland

In [4]:
res_prices = fred.search('Residential Property Prices for Ireland')
res_prices

,id,realtime_start,realtime_end,title,observation_start,observation_end,frequency,frequency_short,units,units_short,seasonal_adjustment,seasonal_adjustment_short,last_updated,popularity,notes
series id,,,,,,,,,,,,,,,
QIEN628BIS,QIEN628BIS,2023-02-03,2023-02-03,Residential Property Prices for Ireland,1970-01-01,2022-07-01,Quarterly,Q,Index 2010=100,Index 2010=100,Not Seasonally Adjusted,NSA,2023-01-26 11:01:02-06:00,40,Source Code: Q:IE:N:628 Coverage includes all...
QIEN368BIS,QIEN368BIS,2023-02-03,2023-02-03,Residential Property Prices for Ireland,1971-01-01,2022-07-01,Quarterly,Q,Percent per Annum,% per Annum,Not Seasonally Adjusted,NSA,2023-01-26 11:01:11-06:00,13,Source Code: Q:IE:N:368 Coverage includes all...
QIER628BIS,QIER628BIS,2023-02-03,2023-02-03,Real Residential Property Prices for Ireland,1970-01-01,2022-07-01,Quarterly,Q,Index 2010=100,Index 2010=100,Not Seasonally Adjusted,NSA,2023-01-26 11:01:13-06:00,5,Source Code: Q:IE:R:628 Coverage includes all...
QIER368BIS,QIER368BIS,2023-02-03,2023-02-03,Real Residential Property Prices for Ireland,1971-01-01,2022-07-01,Quarterly,Q,Percent per Annum,% per Annum,Not Seasonally Adjusted,NSA,2023-01-26 11:01:22-06:00,5,Source Code: Q:IE:R:368 Coverage includes all...

In [94]:
# Get raw series data based on ID from above res prices dataframe. 
df_property = fred.get_series('QIEN628BIS')
df_property = pd.DataFrame(df_property)

# Get the month and year data from the index, into its own column 
df_property['Timeframe'] = df_property.index

# Change the name of the property index column from 0 to RPPI
df_property.rename(columns = {0:'RPPI'},inplace=True)

# Turn the index into integers 
df_property.set_index(np.arange(0,len(df_property)),inplace=True) 
df_property

         RPPI  Timeframe
0      2.6593 1970-01-01
1      2.6593 1970-04-01
2      2.7991 1970-07-01
3      2.9598 1970-10-01
4      2.9179 1971-01-01
..        ...        ...
206  140.4577 2021-07-01
207  146.3903 2021-10-01
208  150.0835 2022-01-01
209  152.7551 2022-04-01
210  157.0769 2022-07-01

[211 rows x 2 columns]

In [107]:
# Write to a csv 
df_property.to_csv('IRL_Property.csv')

## Pull Consumer Price Index data for Ireland

In [5]:
cp_series = fred.search("Consumer Price Index: All Items for Ireland")
cp_series.head()

,id,realtime_start,realtime_end,title,observation_start,observation_end,frequency,frequency_short,units,units_short,seasonal_adjustment,seasonal_adjustment_short,last_updated,popularity,notes
series id,,,,,,,,,,,,,,,
IRLCPIALLMINMEI,IRLCPIALLMINMEI,2023-02-05,2023-02-05,Consumer Price Index: All Items for Ireland,1960-02-01,2022-11-01,Monthly,M,Index 2015=100,Index 2015=100,Not Seasonally Adjusted,NSA,2023-01-13 11:44:31-06:00,15,"Copyright, 2016, OECD. Reprinted with permissi..."
IRLCPIALLQINMEI,IRLCPIALLQINMEI,2023-02-05,2023-02-05,Consumer Price Index: All Items for Ireland,1976-01-01,2022-07-01,Quarterly,Q,Index 2015=100,Index 2015=100,Not Seasonally Adjusted,NSA,2022-11-14 14:19:07-06:00,4,"Copyright, 2016, OECD. Reprinted with permissi..."
IRLCPIALLAINMEI,IRLCPIALLAINMEI,2023-02-05,2023-02-05,Consumer Price Index: All Items for Ireland,1976-01-01,2021-01-01,Annual,A,Index 2015=100,Index 2015=100,Not Seasonally Adjusted,NSA,2022-09-14 15:45:38-05:00,1,"Copyright, 2016, OECD. Reprinted with permissi..."
CPALTT01IEM657N,CPALTT01IEM657N,2023-02-05,2023-02-05,Consumer Price Index: Total All Items for Ireland,1960-02-01,2022-11-01,Monthly,M,Growth rate previous period,Growth rate previous period,Not Seasonally Adjusted,NSA,2023-01-13 11:44:47-06:00,4,OECD descriptor ID: CPALTT01 OECD unit ID: GP ...
CPALTT01IEM659N,CPALTT01IEM659N,2023-02-05,2023-02-05,Consumer Price Index: Total All Items for Ireland,1960-02-01,2022-11-01,Monthly,M,Growth rate same period previous year,Growth rate same period previous Yr.,Not Seasonally Adjusted,NSA,2023-01-13 11:44:46-06:00,1,OECD descriptor ID: CPALTT01 OECD unit ID: GY ...

In [16]:
# Get the series with ID: IRLCPIALLMINMEI
df_cpi = fred.get_series('IRLCPIALLMINMEI')
df_cpi = pd.DataFrame(df_cpi) 

# Take the timeframe data from the index and assign to distinct column 
df_cpi['Timeframe'] = df_cpi.index

# Set the index to integers 
df_cpi.set_index(np.arange(0,len(df_cpi)),inplace=True) 

# Change the name of the CPI column from 0 to 'CPI'
df_cpi.rename(columns={0:'Data'}, inplace=True)

df_cpi = df_cpi.dropna().reset_index(drop=True)

df_cpi.head()

       Data  Timeframe
0  4.794303 1960-02-01
1  4.869085 1960-05-01
2  4.869085 1960-08-01
3  4.906475 1960-11-01
4  4.939711 1961-02-01

In [17]:
# Write to a csv 
df_cpi.to_csv('IRL_CPI.csv')

## Pull Unemployment Rate Data

In [79]:
unemp_series = fred.search('Unemployment Rates Ireland')
unemp_series.head()

,id,realtime_start,realtime_end,title,observation_start,observation_end,frequency,frequency_short,units,units_short,seasonal_adjustment,seasonal_adjustment_short,last_updated,popularity,notes
series id,,,,,,,,,,,,,,,
LRHUTTTTIEM156S,LRHUTTTTIEM156S,2023-02-03,2023-02-03,Harmonized Unemployment Rate: Total: All Perso...,1983-01-01,2022-11-01,Monthly,M,Percent,%,Seasonally Adjusted,SA,2023-01-13 11:43:36-06:00,10,OECD descriptor ID: LRHUTTTT OECD unit ID: STS...
LRHUTTTTIEM156N,LRHUTTTTIEM156N,2023-02-03,2023-02-03,Harmonized Unemployment Rate: Total: All Perso...,1983-01-01,2022-11-01,Monthly,M,Percent,%,Not Seasonally Adjusted,NSA,2023-01-13 11:43:36-06:00,3,OECD descriptor ID: LRHUTTTT OECD unit ID: ST ...
LRHUTTTTIEA156N,LRHUTTTTIEA156N,2023-02-03,2023-02-03,Harmonized Unemployment Rate: Total: All Perso...,1983-01-01,2021-01-01,Annual,A,Percent,%,Not Seasonally Adjusted,NSA,2022-09-14 15:45:12-05:00,1,OECD descriptor ID: LRHUTTTT OECD unit ID: ST ...
LRHUTTTTIEA156S,LRHUTTTTIEA156S,2023-02-03,2023-02-03,Harmonized Unemployment Rate: Total: All Perso...,1983-01-01,2021-01-01,Annual,A,Percent,%,Seasonally Adjusted,SA,2022-09-14 15:45:12-05:00,1,OECD descriptor ID: LRHUTTTT OECD unit ID: STS...
LRHUTTTTIEQ156S,LRHUTTTTIEQ156S,2023-02-03,2023-02-03,Harmonized Unemployment Rate: Total: All Perso...,1983-01-01,2022-07-01,Quarterly,Q,Percent,%,Seasonally Adjusted,SA,2023-01-13 11:23:24-06:00,1,OECD descriptor ID: LRHUTTTT OECD unit ID: STS...

In [78]:
# Get the first series that is contains percentages and is seasonally adjusted 
df_unemp = fred.get_series("LRHUTTTTIEM156S")
df_unemp = pd.DataFrame(df_unemp)

# Take the month and year data from the Index and place in distinct column 
df_unemp['Timeframe'] = df_unemp.index

# Rename the unemployment rate column from 0 to 'Unemployment_Rate'
df_unemp.rename(columns = {0:'Unemployment_Rate'}, inplace = True)

# Set the index to integers 
df_unemp.set_index(np.arange(0,len(df_unemp)), inplace = True)

df_unemp

     Unemployment_Rate  Timeframe
0                 12.9 1983-01-01
1                 13.2 1983-02-01
2                 13.4 1983-03-01
3                 13.5 1983-04-01
4                 13.7 1983-05-01
..                 ...        ...
474                4.3 2022-07-01
475                4.4 2022-08-01
476                4.4 2022-09-01
477                4.5 2022-10-01
478                4.4 2022-11-01

[479 rows x 2 columns]

In [105]:
# Write to a csv 
df_unemp.to_csv('IRL_Unemployment_Rate.csv')